.arrivals {
  &__title {
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black;
    text-align: center;
    padding: 100px 0;
  }
  &__more {
    padding: 50px 0;
  }
  &__button {
    border: solid 2px $black;
    background-color: $color-white;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    padding: 18px 33px;
    margin: 0 auto;
    display: block;
    &:hover,
    &:focus {
      color: $color-white;
      border: solid 2px $color-white;
      background-color: $black;
    }
  }
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  @media (max-width: $medium-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
  img{
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-height: 504px;
    // &:nth-of-type(1n+9){
    //   display: none;
    // }
  }
  &__image {
    padding-bottom: 25px;
    &--sale {
    }
  }
  &__class {
    color: $black-three;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    flex-direction: row;
    &--new,
    &--hot,
    &--top,
    &--best,
    &--few {
      padding-bottom: 10px;
    }
    &--new:before {
      content: url("../assets/desktop/e-kz-bolt-line.svg");
      padding-right: 7px;
    }
    &--new:after {
      content: "NEW";
    }
    &--hot:before {
      content: url("../assets/desktop/e-kz-fire.svg");
      padding-right: 7px;
    }
    &--hot:after {
      content: "HOT";
    }
    &--top:before {
      content: url("../assets/desktop/e-kz-star-line.svg");
      padding-right: 7px;
    }
    &--top:after {
      content: "TOP RATE";
    }
    &--best:before {
      content: url("../assets/desktop/e-kz-number-one.svg");
      padding-right: 7px;
    }
    &--best:after {
      content: "BEST SELLER";
    }
    &--few:before {
      content: url("../assets/desktop/e-kz-few.svg");
      padding-right: 7px;
    }
    &--few:after {
      content: "Only a few left";
    }
  }
  &__description {
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $greyish-brown;
  }
  &__price {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
    display: flex;
    &--current {
    }
    &--old {
      text-decoration: line-through;
      padding-left: 13px;
      font-weight: 500;
      color: $brown-grey;
    }
    div {
      display: none;
    }
    &--hover {
      display: flex;
      justify-content: space-between;
      &:before {
        content: "ADD TO CART";
      }
      span {
        display: none;
      }
      div {
        display: flex;
        a {
          padding-left: 5px;
        }
      }
    }
  }
}
