a a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.container {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $break-width) {
    max-width: 90vw;
  }
}
html{
  scroll-behavior: smooth;
}

.error__message{
  margin: 50px auto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #23bd49;
  text-align: center;
  padding: 100px 0;
}